.container {
    background: linear-gradient(#3FC1C9,#364F6B);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0px  30px;
    min-height: calc(100vh - 200px);
}

.card {
    background-color: rgba(255,255,255,0.1);
    border: 2px solid white;
    border-radius: 40px;
    color: white;
    padding: 20px 28px 10px;
    min-height: 200px;
    width: 400px;
}

.input {
    width: 100%;
}

.buttons {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.button {
    background-color:rgba(255,255,255,0.1);
    border: none;
    border-radius: 25px;
    color: white;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    height: 50px;
    letter-spacing: 1px;

}

